* {
  box-sizing: border-box;
}
body {
  color: black;

  font-family: "Raleway", sans-serif;
}
header,
main {
  margin: 0 20px;
}
a {
  color: black;

  text-decoration: none;
}
li {
  list-style: none;
}
h3 {
  margin: 0;

  font-size: 17px;
}/* titre des cartes*/
/* Header */
.nav {
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.logo {
  margin: 15px 0 0px 20px;
}
nav ul {
  display: flex;
  margin-top: 0;
}
nav li {
  padding: 27px 15px 0 15px;
}
header a:hover {
  color: #0065fc;
}
nav li:first-child {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}
nav li:nth-child(2) {
  border-top: 3px transparent solid;
}
nav li a {
  color: inherit;
}
/* La premiere section du main */
h1 {
  font-size: 25px;
}
/* Formulaire*/
.barre_de_recherche {
  position: absolute;

  height: 40px;
  padding: 10px;

  border: #f2f2f2 solid thin;
  border-left: 0;
  border-right: 0;
  color: #1d1d1d;

  font-weight: bold;
}
.bouton_rechercher {
  position: relative;
  left: 207px;

  height: 40px;
  padding: 12px;

  border-radius: 0px 10px 10px 0;
  border: 0 solid;
  background-color: #0065fc;
  color: white;

  font-weight: bold;
}
.icone_position {
  position: relative;
  right: -4px;

  padding: 12px;

  border-radius: 10px 0 0 10px;
  color: #1d1d1d;
  background-color: #f2f2f2;
}
.icone_loupe{
  display: none;
}
/* Partie Filtres */
h2 {
  padding-right: 30px;

  font-size: 16px;
}
#partie_filtre {
  display: flex;
  padding-top: 20px;
  padding-left: 15px;

  align-items: baseline;
  flex-wrap: wrap;

  font-weight: bold;
}
#partie_filtre ul {
  display: flex;
  width: 90%;

  flex-direction: row;
  flex-wrap: wrap;
}
#partie_filtre i {
  padding: 12px;
  margin: -1px;

  border: 1px solid;
  border-color: transparent;
  border-radius: 30px;
  background-color: #deebff;
  color: #0065fc;
}
#partie_filtre span {
  padding: 12px;

  color: #1d1d1d;
}
#partie_filtre a {
  display: flex;
  margin-bottom: 10px;
  margin-right: 21px;

  border: 1px solid rgb(200, 212, 227);
  border-left: none;
  border-radius: 30px;
}
#partie_filtre a:hover {
  transform: scale(0.95);
}
.icone_info {
  padding: 6px 11px;
  margin-right: 9px;

  border: thin solid rgb(200, 212, 227);
  border-radius: 50%;
  color: rgb(4, 100, 252);
}
.phrase_i {
  margin: 19px 0 35px 0;
}
/* Milieu de page -  Section hebergements */
.carte {
  display: flex;

  box-shadow: 6px 6px 12px 2px rgba(0, 0, 255, 0.2);
  border-radius: 25px;
}
.carte_milieu_page {
  padding: 3px;

  border: 1px solid transparent;
  background-color: white;
}
.titre_section {
  font-size: 25px;
}
#milieu_page {
  display: flex;

  justify-content: space-between;
}
#section_hebergements {
  width: 66%;
  padding: 20px;

  border: 1px solid transparent;
  border-radius: 25px;
  background-color: #f2f2f2;
}
.cartes_section_milieu_page {
  display: flex;
  padding: 5px 0px;

  justify-content: space-around;
}
.cartes_section_hebergements {
  flex-wrap: wrap;
}
.carte_hebergements {
  height: 204px;
  width: 229px;
  margin: 10px 5px;

  flex-direction: column;
}
.image_carte_hebergements {
  height: 60%;
}
.img_carte {
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
.img_carte_milieu_page {
  border: 1px solid transparent;
}
.texte_carte_milieu_page {
  display: flex;

  flex-direction: column;
  justify-content: space-between;

  line-height: 1.4;
}
.texte_carte_hebergements {
  height: 40%;
  width: 100%;
  padding: 6px 0 0px 9px;
}
.texte_carte_hebergements p,
.texte_carte_populaires p {
  margin: 0;
}
.carte_hebergements:hover,
.carte_populaires:hover {
  transform: scale(1.02);
}
.etoiles {
  color: #0065fc;
}
.etoile-grise {
  color: gainsboro;
}
.commentaire_section_hebergements {
  padding-left: 15px;

  font-weight: bold;
}
/* Milieu de page - Section Les plus populaires */
#section_populaires {
  width: 33%;
  padding: 20px;

  border: 1px solid transparent;
  border-radius: 25px;
  background-color: #f2f2f2;
}
.titre_section_populaires {
  display: flex;
  width: 100%;

  justify-content: space-between;
  align-items: baseline;
}
.titre_section_populaires h2 {
  padding: 0;
}
.cartes_section_populaires {
  width: 100%;

  flex-direction: column;
}
.carte_populaires {
  height: 170px;
  width: 100%;
  margin-bottom: 40px;
}
.image_carte_populaires {
  width: 39%;
  height: 100%;
}
.image_carte_populaires img {
  border-radius: 25px 0 0 25px;
}
.texte_carte_populaires {
  height: 100%;
  width: 50%;
  padding: 2% 1% 2% 3%;
}
/* Bas de page - Section Activités */
#section_activites {
  margin: 60px 0;
}
#section_activites h2 {
  margin: 0px 0 40px 0;
  padding-left: 20px;
}
.cartes_section_activites {
  display: flex;

  flex-direction: row;
}
.colonne_une,
.colonne_deux,
.colonne_trois,
.colonne_quatre {
  display: flex;
  height: 425px;
  width: 25%;

  flex-direction: column;
}
.colonne_deux,
.colonne_quatre {
  margin: 0 40px;
}
.colonne_deux a,
.colonne_quatre a {
  width: 100%;

  flex-direction: column;
}
.carte_deux_section_activites {
  height: 225px;
}
.carte_trois_section_activites {
  height: 155px;
  margin-top: auto;
}
.carte_cinq_section_activites {
  height: 190px;
}
.carte_six_section_activites {
  height: 195px;
  margin-top: auto;
}
.image_carte_section_activites {
  height: calc(100% - 55px);
  width: 100%;
}
.texte_carte_section_activites {
  margin: 15px 20px;
}
.carte_section_activites:hover {
  transform: scale(1.02);
}
/* Footer */
.footer {
  display: flex;
  padding: 30px 30% 30px 40px;

  justify-content: space-between;
  background-color: #f2f2f2;
}
.footer li {
  line-height: 1.6;
}
.footer ul {
  padding: 0;
}

/* Responsive Tablettes et téléphones*/
@media all and (max-width:992px) {
  /* Responsive partie milieu */
  body,
  header,
  main {
    margin: 0;
  }
  #section_hebergements,
  #section_populaires {
    width: 100%;

    border-radius: 0;
  } 
  #section_hebergements {
    background-color: white;
  } 
  .cartes_section_hebergements {
    flex-direction: column;
  } 
  .carte_hebergements {
    width: 100%;
    margin: 20px 0;
  } 
  /* Responsive section activités */
  #section_activites {
    padding: 20px;
    margin: 0;
  } 
}

/* Responsive Tablettes */
@media all and (max-width: 992px) and (min-width: 769px) {
  /* Responsive  premiere section du main - tablettes  */
  section {
    text-align: center;
  }
  form {
    margin-right: 190px;
  }
  /* Responsive filtres - tablettes */
  #partie_filtre,
  .titre_section_populaires {
    justify-content: center;
  }
  #partie_filtre ul {
    width: auto;
  }
  /* Responsive partie milieu - tablettes */
  #milieu_page {
    flex-direction: column-reverse;
  }
  .titre_section_populaires i {
    margin-left: 100%;
  }
  /* Responsive section Activités - tablettes */
  .colonne_quatre {
    margin-right: 0;
  }
  .texte_carte_deux_section_activites,
  .texte_carte_six_section_activites {
    margin: 7px 20px;
  }
  /* Responsive footer - tablettes */
  .footer {
    padding: 20px 45px;
    margin-top: 30px;
  }
  ul {
    padding: 0;
  }
}

/* Responsive téléphones */
@media all and (max-width: 768px) {
  /*Responsive header - téléphones */
  #section_recherche {
    padding: 0 4%;
  }
  nav {
    flex-direction: column;
  }
  nav ul {
    width: 100%;
    padding-inline-start: 0;
  }
  nav li {
    display: flex;
    width: 100%;
    padding: 15px 15px 20px 15px;

    justify-content: center;
  }
  nav li:first-child,
  nav li:nth-child(2) {
    border-top: none;
  }
  nav li:first-child {
    border-bottom: #0065fc 3px solid;
  }
  nav li:nth-child(2) {
    border-bottom: #f2f2f2 3px solid;
  }
  /* Responsive formulaire - téléphones */
  .bouton_rechercher {
    display: none;
  }
  .icone_loupe{
    position: relative;
    left: 200px;
    display:inline-block ;

    padding: 12px;

    border-radius: 10px;
    color: white;
    background-color: #0065fc;
  }
  /* Responsive filtres - téléphones */
  #partie_filtre {
    max-width: 100%;
    padding-left: 0;

    flex-direction: column;
  }
  #partie_filtre ul {
    padding: 0;
  }
  /* Responsive partie milieu - téléphones */
  #milieu_page {
    flex-direction: column-reverse;
  }
  .titre_section_populaires i {
    margin-left: 0px;
  }
  /* Responsive bas de page - téléphones */
  #section_activites h2 {
    padding-left: 0px;
  }
  .cartes_section_activites {
    flex-direction: column;
  }
  .carte_section_activites{
    width: 100%;
    height: 204px;
    margin-bottom: 40px;
  }
  .colonne_deux,
  .colonne_quatre {
    width: 100%;
    height: 408px;
    margin-left: 0;
  }
  .colonne_deux {
    margin-bottom: 80px;
  }
  .cartes_section_activites {
    margin-bottom: 70px;
  }
  /* Responsive footer - téléphones */
  .footer {
    padding-right: 0;

    flex-direction: column;
  }
}
